<div class="fs-row.gap-sm.wrap">
  <mat-select 
      [(ngModel)]="basic" 
      fsSelectButton 
      placeholder="Unselected">
    <mat-option *ngFor="let item of values" [value]="item.value">
      {{ item.name }}
    </mat-option>
  </mat-select>
  <mat-select 
      [(ngModel)]="basic" 
      fsSelectButton 
      [deselectOnChange]="false"
      [color]="'#a0041e'" 
      placeholder="Unselected">
    <mat-option *ngFor="let item of values" [value]="item.value">
      {{ item.name }}
    </mat-option>
  </mat-select>
  
  <mat-select 
      [(ngModel)]="basic" 
      fsSelectButton 
      [deselectOnChange]="false"
      placeholder="Stroked Basic" 
      buttonType="stroked">
    <mat-option *ngFor="let item of values" [value]="item.value">
      {{ item.name }}
    </mat-option>
  </mat-select>

  <mat-select
      [(ngModel)]="basic" 
      fsSelectButton 
      [deselectOnChange]="false"
      placeholder="Unselected Basic" 
      buttonType="basic">
    <mat-option *ngFor="let item of values" [value]="item.value">
      {{ item.name }}
    </mat-option>
  </mat-select>

  <mat-select 
      [(ngModel)]="basic" 
      fsSelectButton 
      [deselectOnChange]="false"
      placeholder="Unselected Basic" 
      buttonType="basic" 
      [disabled]="true">
    <mat-option *ngFor="let item of values" [value]="item.value">
      {{ item.name }}
    </mat-option>
  </mat-select>
</div>


