<div class="fs-row.gap-sm.wrap">
  <mat-select
    [(ngModel)]="basic"
    fsSelectButton
    placeholder="Unselected">
    @for (item of values; track item) {
      <mat-option [value]="item.value">
        {{ item.name }}
      </mat-option>
    }
  </mat-select>
  <mat-select
    [(ngModel)]="basic"
    fsSelectButton
    [deselectOnChange]="false"
    [color]="'#a0041e'"
    placeholder="Unselected">
    @for (item of values; track item) {
      <mat-option [value]="item.value">
        {{ item.name }}
      </mat-option>
    }
  </mat-select>

  <mat-select
    [(ngModel)]="basic"
    fsSelectButton
    [deselectOnChange]="false"
    placeholder="Stroked Basic"
    buttonType="stroked">
    @for (item of values; track item) {
      <mat-option [value]="item.value">
        {{ item.name }}
      </mat-option>
    }
  </mat-select>

  <mat-select
    [(ngModel)]="basic"
    fsSelectButton
    [deselectOnChange]="false"
    placeholder="Unselected Basic"
    buttonType="basic">
    @for (item of values; track item) {
      <mat-option [value]="item.value">
        {{ item.name }}
      </mat-option>
    }
  </mat-select>

  <mat-select
    [(ngModel)]="basic"
    fsSelectButton
    [deselectOnChange]="false"
    placeholder="Unselected Basic"
    buttonType="basic"
    [disabled]="true">
    @for (item of values; track item) {
      <mat-option [value]="item.value">
        {{ item.name }}
      </mat-option>
    }
  </mat-select>
</div>


