.mat-mdc-select.fs-select-button {
  display: flex;
  align-items: center;
  width: auto;
  transition: none !important;
  padding: 0;
  min-width: 80px;

  .mat-mdc-select-value {
    padding: 0 var(--mat-protected-button-horizontal-padding, 16px);
  }

  .mat-mdc-select-arrow-wrapper {
    padding-right: var(--mat-protected-button-horizontal-padding, 16px);
  }

  &.mat-mdc-select-disabled {
    background-color: rgba(0, 0, 0, 0.12);
    box-shadow: none;
    pointer-events: none;

    .mat-mdc-select-value {
      color: rgba(0, 0, 0, 0.26);
    }

    .mat-mdc-select-arrow {
      border-top-color: rgba(0, 0, 0, 0.26);
    }
  }
}
