.mat-select.fs-select-button {

  flex-direction: row;
  align-items: center;
  width: auto;

  .mat-select-placeholder {
    margin-right: 10px;
    color: inherit;
  }

  &:not(.mat-basic) {
    .mat-select-arrow,
    .mat-select-value {
      color: #fff;
    }
  }

  .mat-select-value {
    max-width: initial;
  }

  .mat-select-value-text {
    max-width: 150px;
    display: block;
    margin-right: 10px;
  }
}
